.page-template-page-template-about {
	
	.accordion {
		.accordion-item {
			margin: 1.25em 0;
			
			.accordion-title {
				font-size: rem-calc(20);
			}
		
			.accordion-content {
				padding-top: 1.25em;
				font-size: rem-calc(20);
			}
		
		}
		
	}
	
}