.page-template-page-template-articles {
	
	.accordion {
		.accordion-item {
			margin: 1em 0;
			
			.accordion-title {
				font-family: $header-font-family;
			}
			
			.accordion-content {
				padding-top: 1.75em;
				padding-bottom: 0;			
			}
			
		}
	}
	
}

