.off-canvas.position-right {
	padding: 2em 1em 1em 1em;
	
	ul#offcanvas-nav {
		li {
			margin-bottom: 1em;
			a {
				font-family: $header-font-family;
				color: $black;
			}
			
		&.current-menu-item {
			a {
				color: $link-blue;
			}
		}
			
		}
	}
	
}

header.header {
	
	.top-bar {
		padding-top: .5em;
		padding-bottom: .25em;
		
		@include breakpoint(medium) {
			padding-top: 2.25em;
		}
		
		.form-wrap {
			max-width: 193px;			
		}
		
		.left {
			ul.menu {
				li {
					a {
						padding: 0;
						font-family: $header-font-family;
						color: $white;
						text-transform: uppercase;
						display: flex;
						align-items: flex-end;
						
						span {
							font-size: rem-calc(22);
							line-height: 1;
							margin-left: 0.6em;
							padding-bottom: .55em;
							
							strong {
								display: block;
								
								@include breakpoint(medium) {
									display: inline-block;
								}
								
							}
							
							@include breakpoint(medium) {
								font-size: rem-calc(26);
							}
							
						}
						
					}
				}
			}
		}
		
		.right {
			
			a[data-toggle="off-canvas"] {
				width: 50px;
				height: 44px;
				position: relative;
				
				span {
					position: absolute;
					display: block;
					left: 0;
					right: 0;
					width: 100%;
					height: 4px;
					background-color: $white;
					
					&:nth-child(1) {
						top: 8px;	
					}

					&:nth-child(2) {
						top: 20px;
					}
					
					&:nth-child(3) {
						bottom: 8px;
					}
										
				}
				
			}
				
			.nav-search-wrap {	
				flex-wrap: nowrap;
				
				ul.menu {
					flex-wrap: nowrap;
					
					> li {
						padding: 0 .5em;
						position: relative;
						
					&:last-child {
						padding-right: 0;
					}
						
					&.current-menu-item {
						font-weight: bold;
					}
						
					&:not(:last-child):after {
						content: '';
						position: absolute;
						width: 1px;
						background-color: $white;
						height: 100%;
						top: 0;
						bottom: 0;
						right: 0;
					}
						
						a {
							padding: 0;
							font-family: $header-font-family;
							color: $white;
						}
					}
				}
							
			}
		
		}
			
	}
	
}

.header-accent-wrap {
	.cell {
		height: 10px;
		
		&:nth-child(1) {
			background-color: $header-blue;
		}
		&:nth-child(2) {
			background-color: #264582;
		}
		&:nth-child(3) {
			background-color: #8b28f5;
		}
		&:nth-child(4) {
			background-color: #264582;
		}
		&:nth-child(5) {
			background-color: #6b2346;
		}
	}
}