.single-article {
		
	.content {
		
		h1 {
			margin-bottom: .25em;
			line-height: 1.05;
    	}
    	
    	p.byline {
	    	margin: 0;
    	}
    	
    	.doc-tabs {
	    	padding-bottom: 1em;
	    	
	    	a {
		    	color: $black;
		    	text-decoration: underline;
	    	}
	    }
	    
	    .keywords-wrap {
		    padding-bottom: 1em;
	    }
	    
	    .read-more-wrap {
		    a {
			    color: $black;
			    text-decoration: underline;
		    }
	    }
	    
		
	}
	
}